<input type="text" [(ngModel)]="name" />

<p>{{ name }}</p>

<div>Number 1: <input type="number" [(ngModel)]="number1" /></div> {{number1}} <br>
<div>Number 2: <input type="number" [(ngModel)]="number2" /></div> {{number2}} <br>
<button (click)="sumOfTwoNumbers()">Calculate Sum</button> <br>
<p>Sum: {{ sum }}</p>

<button (click)="differenceOfTwoNumbers()">Calculate difference</button> <br>
<p>Difference: {{ difference }}</p>

<div *ngIf="showAdillah">
    <p>Adillah</p>
</div>

<div *ngFor="let item of items">
    {{item}}
</div>